{% extends 'base.html.twig' %}

{% block body %}

    <h2>La page d'acceuil</h2>
    {% for produit in produits %}
        <div><strong>{{ produit.libelle }}</strong>, catégorie : {{ produit.categorie.libelle }}, référence: {{ produit.reference }}, prix: {{ produit.prix }},
            stock: {{ produit.stock }}, date d'ajout: {{ produit.getDateAjout()|date("d/m/y") }} </div>

    {% endfor %}


{% endblock %}

{% block title %}

{% endblock %}
